@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    'Epilogue',
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  padding: 0;
  line-height: inherit;
  font-size: 18px;
  min-height: 100vh;
  width: 100vw;
}
.container{
  width: 100%;
  height: 100px;
}
.nav{
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 80px;
  height: 40px;
}
.menu{
  width: 40px;
  height: 25px;
}
.hero_img{
  width: 80%;
  /* height: 200px; */
  aspect-ratio: 1;
}
.learn_more{
  background-color: var(--almost-black);
  color: var(--almost-white);
  padding: 15px;
  font-weight: 700;
  border-radius: 15px;
}